/* line 13, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../scss/base/_reset.scss */
nav ul li {
  display: inline-block;
}
/* line 32, ../scss/base/_reset.scss */
nav ul a {
  text-decoration: none;
}

/* line 38, ../scss/base/_reset.scss */
body {
  line-height: 1.5;
}

/* line 42, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 46, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 51, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  position: relative;
}

/* line 6, ../scss/layout/_nav.scss */
#logo {
  margin-top: -1px !important;
  margin-bottom: -10px !important;
  width: 190px;
}

/* line 1, ../scss/layout/_footer.scss */
.footer-component {
  padding: 20px;
}

/* line 5, ../scss/layout/_footer.scss */
footer {
  height: 240px;
  position: absolute;
  margin-top: 20px;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* line 17, ../scss/layout/_footer.scss */
.footer-component, footer {
  color: #7F8C8D;
  background-color: #191919;
}

/* line 23, ../scss/layout/_footer.scss */
.footer-component ul {
  margin-left: -35px;
}
/* line 25, ../scss/layout/_footer.scss */
.footer-component ul li {
  display: inline-block;
  padding: 8px;
}
/* line 28, ../scss/layout/_footer.scss */
.footer-component ul li img {
  width: 35px;
}
/* line 34, ../scss/layout/_footer.scss */
.footer-component input[type="email"] {
  height: 30px !important;
  width: 175px !important;
}
/* line 39, ../scss/layout/_footer.scss */
.footer-component input[type="submit"] {
  padding: 5px !important;
  width: 75px;
}

/* line 45, ../scss/layout/_footer.scss */
hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* line 51, ../scss/layout/_footer.scss */
.clear {
  clear: both;
}

/* line 55, ../scss/layout/_footer.scss */
.below-footer {
  margin-top: -5px;
}

/* line 2, ../scss/modules/_typography.scss */
form h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

/* line 2, ../scss/modules/_buttons.scss */
.myBtn {
  width: 200px;
  background-color: black;
  color: white;
}

/* line 9, ../scss/modules/_buttons.scss */
#learnMore {
  padding: 20px !important;
  margin-top: 550px;
}

/* line 18, ../scss/modules/_buttons.scss */
.myBtn:hover,
.myBtn:active,
.myBtn:focus,
.myBtn:active:focus {
  outline: none;
  transform: scale(0.97, 0.97);
  background-color: black;
}

/* line 26, ../scss/modules/_buttons.scss */
input[type="submit"],
input[type="button"] {
  width: 150px;
  border: none !important;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

/* line 35, ../scss/modules/_buttons.scss */
.redirects {
  text-decoration: underline;
  font-size: 110%;
}

/* line 2, ../scss/modules/_components.scss */
html, body, .jumbotron {
  min-height: 95%;
  height: 95%;
}

/* line 8, ../scss/modules/_components.scss */
.jumbotron {
  background-image: url("../img/5.jpg") !important;
  background-size: 100%;
  color: white;
  text-shadow: 2px 2px black;
}

/* line 19, ../scss/modules/_components.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 350px !important;
  height: 40px !important;
  margin: 5px;
}

/* line 29, ../scss/modules/_components.scss */
::-webkit-input-placeholder {
  color: #bbbbbb !important;
}

/* line 32, ../scss/modules/_components.scss */
:-moz-placeholder {
  color: #bbbbbb;
}

/* line 35, ../scss/modules/_components.scss */
:-ms-input-placeholder {
  color: #bbbbbb;
}

/* line 38, ../scss/modules/_components.scss */
::-moz-placeholder {
  color: #bbbbbb;
}
