/* line 13, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../scss/base/_reset.scss */
nav ul li {
  display: inline-block;
}
/* line 30, ../scss/base/_reset.scss */
nav ul li a {
  text-decoration: none;
}

/* line 37, ../scss/base/_reset.scss */
body {
  line-height: 1.5;
}

/* line 41, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 45, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 50, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 55, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/base/_base.scss */
html, body {
  height: 100%;
}

/* line 5, ../scss/base/_base.scss */
body {
  font-family: "Raleway", sans-serif !important;
  min-width: 300px;
}

/* line 11, ../scss/base/_base.scss */
.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 240px;
}

/* line 18, ../scss/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

/* line 22, ../scss/base/_base.scss */
.box, .listSquare {
  width: 150px;
  height: 150px;
  margin: 50px auto;
}

/* line 28, ../scss/base/_base.scss */
.box button {
  position: relative;
}

/* line 32, ../scss/base/_base.scss */
.effect2 {
  position: relative;
}

/* line 36, ../scss/base/_base.scss */
.effect2:before, .effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 56, ../scss/base/_base.scss */
.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* line 66, ../scss/base/_base.scss */
.yourLists {
  margin: 60px auto;
  text-align: center;
}

/* line 72, ../scss/base/_base.scss */
hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* line 78, ../scss/base/_base.scss */
.listObject {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

/* line 84, ../scss/base/_base.scss */
.listSquare {
  margin-bottom: 15px;
}

/* line 90, ../scss/base/_base.scss */
#signupForm, #loginForm {
  margin-bottom: 3vh;
}

/* line 94, ../scss/base/_base.scss */
.clear {
  clear: both;
}

/* line 98, ../scss/base/_base.scss */
.terms {
  width: 70%;
  margin: 0 auto;
}
/* line 101, ../scss/base/_base.scss */
.terms h1, .terms h2, .terms h3, .terms h4, .terms h5, .terms h6 {
  margin: 15px 0px;
}
/* line 104, ../scss/base/_base.scss */
.terms p, .terms h4 {
  text-align: justify;
}
/* line 107, ../scss/base/_base.scss */
.terms h4 {
  text-decoration: underline;
}
/* line 112, ../scss/base/_base.scss */
.terms ul li {
  margin-left: 50px;
  text-align: justify;
}

/* line 7, ../scss/layout/_nav.scss */
header {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5) !important;
  height: 70px !important;
  font-size: 20px;
  color: #7F8C8D;
  background-color: #191919;
}
/* line 14, ../scss/layout/_nav.scss */
header ul li {
  float: left;
}
/* line 16, ../scss/layout/_nav.scss */
header ul li a {
  text-decoration: none !important;
  color: #7F8C8D;
  line-height: 70px;
  padding: 24px 12px;
}
/* line 26, ../scss/layout/_nav.scss */
header ul li a:hover,
header ul li a:active,
header ul li a:focus,
header ul li a:active:focus,
header ul li .active {
  color: #191919;
  background-color: #7F8C8D;
}

/* line 34, ../scss/layout/_nav.scss */
#logo {
  height: 50px;
  margin: 10px;
}

@media screen and (max-width: 435px) and (min-width: 367px) {
  /* line 41, ../scss/layout/_nav.scss */
  header {
    font-size: 18px;
  }
  /* line 45, ../scss/layout/_nav.scss */
  header ul li a {
    padding: 25px 10px;
  }

  /* line 52, ../scss/layout/_nav.scss */
  #logo {
    height: 40px;
    margin: 15px 10px;
  }
}
@media screen and (max-width: 367px) and (min-width: 323px) {
  /* line 60, ../scss/layout/_nav.scss */
  header {
    font-size: 16px;
  }
  /* line 64, ../scss/layout/_nav.scss */
  header ul li a {
    padding: 26px 8px;
  }

  /* line 71, ../scss/layout/_nav.scss */
  #logo {
    height: 35px;
    margin: 17.5px 10px;
  }
}
@media screen and (max-width: 367px) {
  /* line 79, ../scss/layout/_nav.scss */
  header {
    font-size: 15px;
  }
  /* line 83, ../scss/layout/_nav.scss */
  header ul li a {
    padding: 26px 8px;
  }

  /* line 90, ../scss/layout/_nav.scss */
  #logo {
    height: 30px;
    margin: 15px 10px;
  }
}
/* line 1, ../scss/layout/_footer.scss */
.footer-component {
  padding: 20px;
}

/* line 5, ../scss/layout/_footer.scss */
footer {
  height: 240px;
  margin-top: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}
/* line 12, ../scss/layout/_footer.scss */
footer #subscribeBtn {
  color: #191919;
  background-color: #7f8c8d;
  font-weight: bold;
}

/* line 19, ../scss/layout/_footer.scss */
.footer-component, footer {
  color: #7F8C8D;
  background-color: #191919;
}

/* line 25, ../scss/layout/_footer.scss */
.footer-component ul {
  margin-left: -35px;
}
/* line 27, ../scss/layout/_footer.scss */
.footer-component ul li {
  display: inline-block;
  padding: 8px;
}
/* line 30, ../scss/layout/_footer.scss */
.footer-component ul li img {
  width: 35px;
}
/* line 36, ../scss/layout/_footer.scss */
.footer-component input[type="email"] {
  display: inline-block;
  height: 30px !important;
  width: 175px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
/* line 45, ../scss/layout/_footer.scss */
.footer-component input[type="submit"] {
  display: inline-block;
  padding: 2px !important;
  width: 75px;
  height: 30px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

/* line 56, ../scss/layout/_footer.scss */
.clear {
  clear: both;
}

/* line 60, ../scss/layout/_footer.scss */
.below-footer {
  margin-top: -5px;
}

@media screen and (min-width: 1039px) and (max-width: 1200px) {
  /* line 67, ../scss/layout/_footer.scss */
  footer {
    height: 250px;
  }

  /* line 70, ../scss/layout/_footer.scss */
  .wrapper {
    padding-bottom: 250px;
  }
}
@media screen and (max-width: 1038.99999px) and (min-width: 992px) {
  /* line 77, ../scss/layout/_footer.scss */
  footer {
    height: 280px;
  }

  /* line 80, ../scss/layout/_footer.scss */
  .wrapper {
    padding-bottom: 280px;
  }
}
@media screen and (max-width: 991.99999px) and (min-width: 768px) {
  /* line 87, ../scss/layout/_footer.scss */
  footer {
    height: 550px;
  }

  /* line 90, ../scss/layout/_footer.scss */
  .wrapper {
    padding-bottom: 550px;
  }
}
@media screen and (max-width: 767.99999px) and (min-width: 442px) {
  /* line 97, ../scss/layout/_footer.scss */
  footer {
    height: 570px;
  }

  /* line 100, ../scss/layout/_footer.scss */
  .wrapper {
    padding-bottom: 570px;
  }
}
@media screen and (max-width: 441.99999px) and (min-width: 345px) {
  /* line 107, ../scss/layout/_footer.scss */
  footer {
    height: 600px;
  }

  /* line 110, ../scss/layout/_footer.scss */
  .wrapper {
    padding-bottom: 600px;
  }
}
@media screen and (max-width: 344.99999px) {
  /* line 116, ../scss/layout/_footer.scss */
  footer {
    height: 650px;
  }

  /* line 119, ../scss/layout/_footer.scss */
  .wrapper {
    padding-bottom: 650px;
  }
}
/* line 2, ../scss/modules/_typography.scss */
form h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

/* line 2, ../scss/modules/_buttons.scss */
.myBtn {
  width: 200px;
  background-color: #191919;
  color: #7f8c8d;
}

/* line 9, ../scss/modules/_buttons.scss */
#learnMore {
  padding: 20px !important;
  margin-top: 70vh;
}

@media screen and (max-height: 600.9999px) {
  /* line 16, ../scss/modules/_buttons.scss */
  #learnMore {
    margin-top: 40vh;
  }
}
@media screen and (min-height: 601px) and (max-height: 800px) {
  /* line 22, ../scss/modules/_buttons.scss */
  #learnMore {
    margin-top: 50vh;
  }
}
@media screen and (max-width: 992.9999px) and (orientation: landscape) {
  /* line 30, ../scss/modules/_buttons.scss */
  #learnMore {
    margin-top: 30vh;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) and (orientation: landscape) {
  /* line 38, ../scss/modules/_buttons.scss */
  #learnMore {
    margin-top: 50vh;
  }
}
/* line 47, ../scss/modules/_buttons.scss */
.myBtn:hover,
.myBtn:active,
.myBtn:focus,
.myBtn:active:focus {
  outline: none !important;
  transform: scale(0.97, 0.97);
  background-color: #191919;
  color: #7f8c8d;
}

/* line 56, ../scss/modules/_buttons.scss */
input[type="submit"],
input[type="button"] {
  width: 150px;
  border: none !important;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

/* line 65, ../scss/modules/_buttons.scss */
.redirects {
  text-decoration: underline;
  font-size: 110%;
}

/* line 70, ../scss/modules/_buttons.scss */
.newListBtn {
  width: 150px;
  height: 150px;
  border: none;
  font-size: 130%;
  background-color: #f1f1f1;
  border: 0.01px solid #eeeeee;
}
/* line 74, ../scss/modules/_buttons.scss */
.newListBtn i {
  margin-top: 30px;
}

/* line 84, ../scss/modules/_buttons.scss */
.newListBtn:active,
.newListBtn:focus,
.newListBtn:active:focus {
  transform: scale(0.97, 0.97);
  border: 0.01px solid #e1e1e1;
}

/* line 94, ../scss/modules/_buttons.scss */
.newListBtn:active,
.newListBtn:focus,
.newListBtn:active:focus,
.listSquare:active,
.listSquare:focus,
.listSquare:active:focus {
  outline: none;
}

/* line 98, ../scss/modules/_buttons.scss */
.listSquare {
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
  border: 0.01px solid #eeeeee;
}
/* line 104, ../scss/modules/_buttons.scss */
.listSquare button {
  border: none;
  background-color: transparent;
  padding: 10px;
}
/* line 110, ../scss/modules/_buttons.scss */
.listSquare .listName {
  margin: 20px 0px -15px;
  height: 65px;
  font-size: 120%;
  overflow: auto;
}

/* line 121, ../scss/modules/_buttons.scss */
.listSquare:active,
.listSquare:focus,
.listSquare:active:focus {
  border: 0.1px solid #e1e1e1;
}

/* line 128, ../scss/modules/_buttons.scss */
.deleteBtn:hover,
.deleteBtn:active,
.deleteBtn:focus,
.deleteBtn:active:focus {
  color: #d9534f;
  transform: scale(1.1, 1.1);
  outline: none;
}

/* line 137, ../scss/modules/_buttons.scss */
.checkBtn:hover,
.checkBtn:active,
.checkBtn:focus,
.checkBtn:active:focus {
  outline: none;
}

/* line 141, ../scss/modules/_buttons.scss */
.checkBtn:hover {
  color: #5cb85c;
  transform: scale(1.1, 1.1);
}

/* line 146, ../scss/modules/_buttons.scss */
.checked {
  border: 3px solid #5cb85c;
  border-radius: 5px;
}
/* line 149, ../scss/modules/_buttons.scss */
.checked .checkBtn {
  color: #5cb85c;
  transform: scale(1.1, 1.1);
}

/* line 157, ../scss/modules/_buttons.scss */
.checked:active,
.checked:focus,
.checked:active:focus {
  border: 2px solid #5cb85c;
}

/* line 164, ../scss/modules/_buttons.scss */
.editBtn:hover,
.editBtn:active,
.editBtn:focus,
.editBtn:active:focus {
  outline: none;
}

/* line 168, ../scss/modules/_buttons.scss */
.editBtn:hover {
  color: #428bca;
  transform: scale(1.1, 1.1);
}

/* line 186, ../scss/modules/_buttons.scss */
.listBtns {
  margin: 40px auto !important;
  margin-bottom: 120px !important;
}
/* line 189, ../scss/modules/_buttons.scss */
.listBtns button, .listBtns a {
  width: 120px;
  height: 40px;
  line-height: 27px;
}
/* line 194, ../scss/modules/_buttons.scss */
.listBtns .backBtn {
  background-color: #191919;
  color: #7f8c8d;
}

/* line 200, ../scss/modules/_buttons.scss */
.editListBtn {
  background-color: transparent;
}

/* line 207, ../scss/modules/_buttons.scss */
.editListBtn:hover,
.editListBtn:active,
.editListBtn:focus,
.editListBtn:active:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* line 2, ../scss/modules/_components.scss */
.jumbotron {
  height: 93vh;
}

/* line 13, ../scss/modules/_components.scss */
.jumbotron {
  background-image: url("../img/4.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: -0.7vh;
  margin-bottom: 0px;
}

/* line 29, ../scss/modules/_components.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 350px !important;
  height: 40px !important;
  margin: 5px;
  display: inline-block;
}

/* line 38, ../scss/modules/_components.scss */
.alert {
  width: 90% !important;
  margin: 0 auto;
}

@media screen and (max-width: 390px) {
  /* line 47, ../scss/modules/_components.scss */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 270px !important;
  }
}
/* line 54, ../scss/modules/_components.scss */
::-webkit-input-placeholder {
  color: #bbbbbb !important;
}

/* line 57, ../scss/modules/_components.scss */
:-moz-placeholder {
  color: #bbbbbb;
}

/* line 60, ../scss/modules/_components.scss */
:-ms-input-placeholder {
  color: #bbbbbb;
}

/* line 63, ../scss/modules/_components.scss */
::-moz-placeholder {
  color: #bbbbbb;
}

/* line 80, ../scss/modules/_components.scss */
.modal-dialog {
  width: 500px !important;
  margin-top: 10% !important;
  margin: 0 auto;
}

/* line 86, ../scss/modules/_components.scss */
.modal-sm {
  width: 350px !important;
  font-size: 120%;
  margin-top: 15% !important;
  margin: 0 auto;
}

/* line 94, ../scss/modules/_components.scss */
.modal-body input[type="text"],
.modal-body input[type="date"] {
  width: 90% !important;
  border-radius: 0px !important;
  height: 50px !important;
}

/* line 100, ../scss/modules/_components.scss */
.modal-body label {
  margin-top: 10px !important;
}

@media screen and (max-width: 500px) and (min-width: 391px) {
  /* line 106, ../scss/modules/_components.scss */
  .modal-dialog {
    width: 380px !important;
  }

  /* line 110, ../scss/modules/_components.scss */
  .modal-sm {
    margin-top: 20% !important;
  }

  /* line 115, ../scss/modules/_components.scss */
  .modal-body input[type="text"],
  .modal-body input[type="date"] {
    width: 85% !important;
  }
}
@media screen and (max-width: 390.99999px) {
  /* line 121, ../scss/modules/_components.scss */
  .modal-dialog {
    margin: 0 auto;
    width: 290px !important;
    margin-top: 10% !important;
  }

  /* line 127, ../scss/modules/_components.scss */
  .modal-sm {
    margin: 0 auto;
    width: 290px !important;
    margin-top: 20% !important;
  }

  /* line 134, ../scss/modules/_components.scss */
  .modal-body input[type="text"],
  .modal-body input[type="date"] {
    width: 85% !important;
  }
}
/* line 139, ../scss/modules/_components.scss */
.listWrapper {
  width: 60%;
  margin: 10px auto;
  margin-bottom: 150px;
}
/* line 143, ../scss/modules/_components.scss */
.listWrapper h2 {
  margin: 20px;
  margin-bottom: 10px;
}
/* line 148, ../scss/modules/_components.scss */
.listWrapper h4 {
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

/* line 160, ../scss/modules/_components.scss */
.addNewTaskForm {
  margin: 50px auto;
  margin-bottom: 65px !important;
}
/* line 163, ../scss/modules/_components.scss */
.addNewTaskForm input, .addNewTaskForm button {
  margin: -1.6px !important;
  margin-top: -8px !important;
  border-radius: 0px !important;
  height: 50px !important;
  width: 400px !important;
  display: inline-block;
}
/* line 172, ../scss/modules/_components.scss */
.addNewTaskForm select:active, .addNewTaskForm select:hover {
  outline: none !important;
  box-shadow: none;
}
/* line 175, ../scss/modules/_components.scss */
.addNewTaskForm select:active option:active, .addNewTaskForm select:active option:hover, .addNewTaskForm select:hover option:active, .addNewTaskForm select:hover option:hover {
  outline: none !important;
  box-shadow: none;
}
/* line 181, ../scss/modules/_components.scss */
.addNewTaskForm select {
  display: inline-block;
  margin-left: -3px !important;
  margin-right: -2px !important;
  box-sizing: border-box;
  padding-top: 5px !important;
  border-radius: 0px !important;
  height: 50px !important;
  line-height: 50px !important;
  width: 200px !important;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  text-align: left;
  padding-left: 10px;
  color: #bbbbbb;
}
/* line 201, ../scss/modules/_components.scss */
.addNewTaskForm select #selectName {
  color: #cfcfcf;
}
/* line 205, ../scss/modules/_components.scss */
.addNewTaskForm select option {
  color: #888888;
}
/* line 209, ../scss/modules/_components.scss */
.addNewTaskForm select #low {
  color: #428bca !important;
}
/* line 213, ../scss/modules/_components.scss */
.addNewTaskForm select #moderate {
  color: #f0ad4e !important;
}
/* line 217, ../scss/modules/_components.scss */
.addNewTaskForm select #high {
  color: #d9534f !important;
}
/* line 240, ../scss/modules/_components.scss */
.addNewTaskForm .addNew {
  width: 50px !important;
}
/* line 244, ../scss/modules/_components.scss */
.addNewTaskForm input:focus {
  outline: none !important;
}

@media screen and (max-width: 768.99999px) and (min-width: 400px) {
  /* line 251, ../scss/modules/_components.scss */
  .listWrapper {
    width: 90%;
    margin-bottom: 80px;
  }

  /* line 255, ../scss/modules/_components.scss */
  .addNewTaskForm {
    margin-bottom: 30px !important;
  }
  /* line 257, ../scss/modules/_components.scss */
  .addNewTaskForm input, .addNewTaskForm button {
    width: 200px !important;
  }
  /* line 260, ../scss/modules/_components.scss */
  .addNewTaskForm button {
    margin-top: -5px !important;
  }
  /* line 263, ../scss/modules/_components.scss */
  .addNewTaskForm select {
    padding-top: 0px !important;
    width: 110px !important;
  }
  /* line 267, ../scss/modules/_components.scss */
  .addNewTaskForm .addNew {
    width: 50px !important;
  }
}
@media screen and (max-width: 399.99999px) and (min-width: 350px) {
  /* line 276, ../scss/modules/_components.scss */
  .listWrapper {
    width: 90%;
    margin-bottom: 80px;
  }
  /* line 279, ../scss/modules/_components.scss */
  .listWrapper h2 {
    margin: 5px;
    margin-bottom: 5px;
    font-size: 200%;
  }
  /* line 285, ../scss/modules/_components.scss */
  .listWrapper h4 {
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 297, ../scss/modules/_components.scss */
  .addNewTaskForm input, .addNewTaskForm button {
    width: 250px !important;
  }
  /* line 301, ../scss/modules/_components.scss */
  .addNewTaskForm select {
    width: 250px !important;
    margin-top: 1px !important;
    margin-left: -2px !important;
  }
  /* line 307, ../scss/modules/_components.scss */
  .addNewTaskForm .addNew {
    margin-top: 0px !important;
    width: 250px !important;
  }
}
@media screen and (max-width: 349.99999px) {
  /* line 315, ../scss/modules/_components.scss */
  .listWrapper {
    width: 90%;
    margin-bottom: 80px;
  }
  /* line 318, ../scss/modules/_components.scss */
  .listWrapper h2 {
    clear: both;
    margin: 5px;
    margin-bottom: 5px;
  }
  /* line 324, ../scss/modules/_components.scss */
  .listWrapper h4 {
    clear: both;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left !important;
  }
  /* line 332, ../scss/modules/_components.scss */
  .listWrapper .rightHead {
    float: left !important;
  }

  /* line 337, ../scss/modules/_components.scss */
  .addNewTaskForm input, .addNewTaskForm button {
    width: 250px !important;
  }
  /* line 341, ../scss/modules/_components.scss */
  .addNewTaskForm select {
    width: 250px !important;
    margin-top: 1px !important;
    margin-left: -2px !important;
  }
  /* line 347, ../scss/modules/_components.scss */
  .addNewTaskForm .addNew {
    margin-top: 0px !important;
    width: 250px !important;
  }
}
/* line 356, ../scss/modules/_components.scss */
.listDescription {
  margin: 50px auto;
}

/* line 360, ../scss/modules/_components.scss */
.listTasks {
  margin-bottom: 55px;
}

/* line 364, ../scss/modules/_components.scss */
.listComponent {
  margin: 10px auto;
}
/* line 366, ../scss/modules/_components.scss */
.listComponent p, .listComponent button {
  margin: -2px;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 0px;
}
/* line 374, ../scss/modules/_components.scss */
.listComponent button {
  margin-top: -40px;
}
/* line 381, ../scss/modules/_components.scss */
.listComponent .checkItemBtn:hover,
.listComponent .checkItemBtn:active,
.listComponent .checkItemBtn:focus,
.listComponent .checkItemBtn:active:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* line 388, ../scss/modules/_components.scss */
.listComponent .btnUnchecked,
.listComponent .btnUnchecked:active {
  background-color: #ddd;
  color: white;
}
/* line 393, ../scss/modules/_components.scss */
.listComponent p {
  margin-top: 10px !important;
  margin-left: -2px !important;
  width: 70% !important;
  line-height: 50px;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  text-align: left;
  padding-left: 10px;
  font-size: 120%;
  color: #909090;
}
/* line 412, ../scss/modules/_components.scss */
.listComponent .lowImportance {
  background-color: #CFEDF6;
  border: 1px solid #428bca;
  color: #428bca;
}
/* line 418, ../scss/modules/_components.scss */
.listComponent .moderateImportance {
  background-color: #FFE7D8;
  border: 1px solid #f0ad4e;
  color: #f0ad4e;
}
/* line 424, ../scss/modules/_components.scss */
.listComponent .highImportance {
  background-color: #F7C0C0;
  border: 1px solid #d9534f;
  color: #d9534f;
}

@media screen and (max-width: 539.9999px) and (min-width: 463px) {
  /* line 433, ../scss/modules/_components.scss */
  .listComponent {
    margin: 5px auto;
  }
  /* line 436, ../scss/modules/_components.scss */
  .listComponent p {
    width: 65% !important;
    padding-left: 5px;
    font-size: 115%;
  }
}
@media screen and (max-width: 462.9999px) and (min-width: 405px) {
  /* line 447, ../scss/modules/_components.scss */
  .listTasks {
    margin-bottom: 55px;
  }

  /* line 451, ../scss/modules/_components.scss */
  .listComponent {
    margin: 5px auto;
  }
  /* line 454, ../scss/modules/_components.scss */
  .listComponent p {
    width: 60% !important;
    padding-left: 5px;
    font-size: 110%;
  }
}
@media screen and (max-width: 404.9999px) and (min-width: 360px) {
  /* line 464, ../scss/modules/_components.scss */
  .listTasks {
    margin-bottom: 55px;
  }

  /* line 468, ../scss/modules/_components.scss */
  .listComponent {
    margin: 5px auto;
  }
  /* line 471, ../scss/modules/_components.scss */
  .listComponent p {
    width: 55% !important;
    padding-left: 5px;
    font-size: 105%;
  }
}
@media screen and (max-width: 359.9999px) and (min-width: 324px) {
  /* line 481, ../scss/modules/_components.scss */
  .listTasks {
    margin-bottom: 55px;
  }

  /* line 485, ../scss/modules/_components.scss */
  .listComponent {
    margin: 5px auto;
  }
  /* line 488, ../scss/modules/_components.scss */
  .listComponent p {
    width: 50% !important;
    padding-left: 5px;
    font-size: 100%;
  }
}
@media screen and (max-width: 359.9999px) {
  /* line 497, ../scss/modules/_components.scss */
  .listTasks {
    margin-bottom: 55px;
  }

  /* line 501, ../scss/modules/_components.scss */
  .listComponent {
    margin: 5px auto;
  }
  /* line 504, ../scss/modules/_components.scss */
  .listComponent p {
    width: 45% !important;
    padding-left: 5px;
    font-size: 95%;
  }
}
/* line 512, ../scss/modules/_components.scss */
.listHr {
  border: 0;
  height: 1px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}

/* line 518, ../scss/modules/_components.scss */
.taskAchieved {
  transition: 5s;
}
/* line 520, ../scss/modules/_components.scss */
.taskAchieved button.checkItemBtn {
  background-color: #5cb85c;
  color: white;
  border: 1px solid #5cb85c;
}
/* line 526, ../scss/modules/_components.scss */
.taskAchieved p {
  background-color: #B2E3BE!important;
  border: 1px solid #5cb85c !important;
  color: #5cb85c !important;
}

/* line 533, ../scss/modules/_components.scss */
.defaultMsg {
  margin-top: 0px !important;
  margin-bottom: -16px !important;
}

/* line 538, ../scss/modules/_components.scss */
.noListMsg {
  margin: 105.5px auto !important;
  color: #888;
}

/* line 546, ../scss/modules/_components.scss */
.changeItemModal .modal-body .addNewTaskForm {
  margin: 20px !important;
}
/* line 548, ../scss/modules/_components.scss */
.changeItemModal .modal-body .addNewTaskForm label {
  margin-right: 10px;
}
/* line 551, ../scss/modules/_components.scss */
.changeItemModal .modal-body .addNewTaskForm input, .changeItemModal .modal-body .addNewTaskForm select {
  width: 92% !important;
  display: inline-block !important;
  margin: 0 auto !important;
}

@media screen and (max-width: 500.99999px) {
  /* line 564, ../scss/modules/_components.scss */
  .changeItemModal .modal-body .addNewTaskForm input, .changeItemModal .modal-body .addNewTaskForm select {
    width: 85% !important;
  }
}
/* line 572, ../scss/modules/_components.scss */
.modal-header {
  color: #7f8c8d;
  border-radius: 0 !important;
  background-color: #191919 !important;
}
/* line 576, ../scss/modules/_components.scss */
.modal-header h4 {
  font-size: 1.5em;
}

/* line 581, ../scss/modules/_components.scss */
button.close {
  color: white!important;
}

/* line 585, ../scss/modules/_components.scss */
button.dismissBtn {
  color: #7f8c8d;
  background-color: #191919 !important;
}

/* line 591, ../scss/modules/_components.scss */
button.dismissBtn:hover {
  color: #777;
  background-color: black !important;
}

/* line 599, ../scss/modules/_components.scss */
.modal-content,
.btn, button,
.progress {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

/* line 607, ../scss/modules/_components.scss */
.leftHead h2 i {
  font-size: 1.7em;
  color: #428bca;
}

/* line 614, ../scss/modules/_components.scss */
.listComponent p {
  word-wrap: break-word;
  overflow-y: scroll;
}
