/* line 13, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../scss/base/_reset.scss */
nav ul li {
  display: inline-block;
}
/* line 32, ../scss/base/_reset.scss */
nav ul a {
  text-decoration: none;
}

/* line 38, ../scss/base/_reset.scss */
body {
  line-height: 1.5;
}

/* line 42, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 46, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 51, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

/* line 5, ../scss/base/_base.scss */
.box, .listSquare {
  width: 150px;
  height: 150px;
  margin: 50px auto;
}

/* line 11, ../scss/base/_base.scss */
.box button {
  position: relative;
}

/* line 15, ../scss/base/_base.scss */
.effect2 {
  position: relative;
}

/* line 19, ../scss/base/_base.scss */
.effect2:before, .effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 39, ../scss/base/_base.scss */
.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* line 49, ../scss/base/_base.scss */
.yourLists {
  margin: 60px auto;
  text-align: center;
}

/* line 55, ../scss/base/_base.scss */
hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* line 61, ../scss/base/_base.scss */
.listObject {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

/* line 67, ../scss/base/_base.scss */
.listSquare {
  margin-bottom: 15px;
}

/* line 71, ../scss/base/_base.scss */
#loginForm {
  margin-bottom: 82px;
}

/* line 6, ../scss/layout/_nav.scss */
#logo {
  margin-top: -1px !important;
  margin-bottom: -10px !important;
  width: 190px;
  margin-left: -50px;
}

/* line 1, ../scss/layout/_footer.scss */
.footer-component {
  padding: 20px;
}

/* line 5, ../scss/layout/_footer.scss */
footer {
  height: 240px;
  margin-top: 60px;
}

/* line 10, ../scss/layout/_footer.scss */
.footer-component, footer {
  color: #7F8C8D;
  background-color: #191919;
}

/* line 16, ../scss/layout/_footer.scss */
.footer-component ul {
  margin-left: -35px;
}
/* line 18, ../scss/layout/_footer.scss */
.footer-component ul li {
  display: inline-block;
  padding: 8px;
}
/* line 21, ../scss/layout/_footer.scss */
.footer-component ul li img {
  width: 35px;
}
/* line 27, ../scss/layout/_footer.scss */
.footer-component input[type="email"] {
  height: 30px !important;
  width: 175px !important;
}
/* line 32, ../scss/layout/_footer.scss */
.footer-component input[type="submit"] {
  padding: 5px !important;
  width: 75px;
}

/* line 38, ../scss/layout/_footer.scss */
.clear {
  clear: both;
}

/* line 42, ../scss/layout/_footer.scss */
.below-footer {
  margin-top: -5px;
}

/* line 2, ../scss/modules/_typography.scss */
form h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

/* line 2, ../scss/modules/_buttons.scss */
.myBtn {
  width: 200px;
  background-color: black;
  color: white;
}

/* line 9, ../scss/modules/_buttons.scss */
#learnMore {
  padding: 20px !important;
  margin-top: 550px;
}

/* line 18, ../scss/modules/_buttons.scss */
.myBtn:hover,
.myBtn:active,
.myBtn:focus,
.myBtn:active:focus {
  outline: none;
  transform: scale(0.97, 0.97);
  background-color: black;
}

/* line 26, ../scss/modules/_buttons.scss */
input[type="submit"],
input[type="button"] {
  width: 150px;
  border: none !important;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

/* line 35, ../scss/modules/_buttons.scss */
.redirects {
  text-decoration: underline;
  font-size: 110%;
}

/* line 40, ../scss/modules/_buttons.scss */
.newListBtn {
  width: 150px;
  height: 150px;
  border: none;
  font-size: 130%;
  background-color: #f1f1f1;
  border: 0.01px solid #eeeeee;
}
/* line 44, ../scss/modules/_buttons.scss */
.newListBtn i {
  margin-top: 30px;
}

/* line 54, ../scss/modules/_buttons.scss */
.newListBtn:active,
.newListBtn:focus,
.newListBtn:active:focus {
  transform: scale(0.97, 0.97);
  border: 0.01px solid #e1e1e1;
}

/* line 64, ../scss/modules/_buttons.scss */
.newListBtn:active,
.newListBtn:focus,
.newListBtn:active:focus,
.listSquare:active,
.listSquare:focus,
.listSquare:active:focus {
  outline: none;
}

/* line 68, ../scss/modules/_buttons.scss */
.listSquare {
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
  border: 0.01px solid #eeeeee;
}
/* line 74, ../scss/modules/_buttons.scss */
.listSquare button {
  border: none;
  background-color: transparent;
  padding: 10px;
}
/* line 80, ../scss/modules/_buttons.scss */
.listSquare .listName {
  line-height: 65px;
  height: 65px;
  font-size: 120%;
}

/* line 89, ../scss/modules/_buttons.scss */
.listSquare:active,
.listSquare:focus,
.listSquare:active:focus {
  border: 0.1px solid #e1e1e1;
}

/* line 96, ../scss/modules/_buttons.scss */
.deleteBtn:hover,
.deleteBtn:active,
.deleteBtn:focus,
.deleteBtn:active:focus {
  color: #d9534f;
  transform: scale(1.1, 1.1);
  outline: none;
}

/* line 105, ../scss/modules/_buttons.scss */
.checkBtn:hover,
.checkBtn:active,
.checkBtn:focus,
.checkBtn:active:focus {
  outline: none;
}

/* line 109, ../scss/modules/_buttons.scss */
.checkBtn:hover {
  color: #5cb85c;
  transform: scale(1.1, 1.1);
}

/* line 114, ../scss/modules/_buttons.scss */
.checked {
  border: 3px solid #5cb85c;
  border-radius: 5px;
}
/* line 117, ../scss/modules/_buttons.scss */
.checked .checkBtn {
  color: #5cb85c;
  transform: scale(1.1, 1.1);
}

/* line 125, ../scss/modules/_buttons.scss */
.checked:active,
.checked:focus,
.checked:active:focus {
  border: 2px solid #5cb85c;
}

/* line 132, ../scss/modules/_buttons.scss */
.editBtn:hover,
.editBtn:active,
.editBtn:focus,
.editBtn:active:focus {
  outline: none;
}

/* line 136, ../scss/modules/_buttons.scss */
.editBtn:hover {
  color: #428bca;
  transform: scale(1.1, 1.1);
}

/* line 142, ../scss/modules/_buttons.scss */
.listBtns {
  margin: 40px auto !important;
}
/* line 144, ../scss/modules/_buttons.scss */
.listBtns button, .listBtns a {
  width: 150px;
  height: 40px;
  line-height: 27px;
}
/* line 149, ../scss/modules/_buttons.scss */
.listBtns .backBtn {
  background-color: #333333;
  color: white;
}

/* line 2, ../scss/modules/_components.scss */
.jumbotron {
  min-height: 95%;
  height: 95%;
}

/* line 8, ../scss/modules/_components.scss */
.jumbotron {
  background-image: url("../img/5.jpg") !important;
  background-size: 100%;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 50px;
}

/* line 20, ../scss/modules/_components.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 350px !important;
  height: 40px !important;
  margin: 5px;
}

/* line 30, ../scss/modules/_components.scss */
::-webkit-input-placeholder {
  color: #bbbbbb !important;
}

/* line 33, ../scss/modules/_components.scss */
:-moz-placeholder {
  color: #bbbbbb;
}

/* line 36, ../scss/modules/_components.scss */
:-ms-input-placeholder {
  color: #bbbbbb;
}

/* line 39, ../scss/modules/_components.scss */
::-moz-placeholder {
  color: #bbbbbb;
}

/* line 56, ../scss/modules/_components.scss */
.modal-dialog {
  width: 500px !important;
  margin-top: 10% !important;
}

/* line 61, ../scss/modules/_components.scss */
.modal-sm {
  width: 350px !important;
  font-size: 120%;
  margin-top: 15% !important;
}

/* line 68, ../scss/modules/_components.scss */
.modal-body input[type="text"],
.modal-body input[type="date"] {
  width: 90% !important;
}

/* line 72, ../scss/modules/_components.scss */
.modal-body label {
  margin-top: 10px !important;
}

/* line 76, ../scss/modules/_components.scss */
.listWrapper {
  width: 50%;
  margin: 10px auto;
  margin-bottom: 150px;
}
/* line 80, ../scss/modules/_components.scss */
.listWrapper h1 {
  margin: 20px;
  margin-bottom: 10px;
}
/* line 85, ../scss/modules/_components.scss */
.listWrapper h6 {
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}
/* line 91, ../scss/modules/_components.scss */
.listWrapper h3 {
  margin: 20px;
  margin-top: 27px;
}

/* line 97, ../scss/modules/_components.scss */
.addNewTaskForm {
  margin: 50px auto;
  margin-bottom: 60px !important;
}
/* line 100, ../scss/modules/_components.scss */
.addNewTaskForm input, .addNewTaskForm button {
  margin: -1.6px !important;
  margin-top: -8px !important;
  border-radius: 0px !important;
  height: 50px !important;
  width: 400px !important;
}
/* line 108, ../scss/modules/_components.scss */
.addNewTaskForm select:active, .addNewTaskForm select:hover {
  outline: none !important;
  box-shadow: none;
}
/* line 111, ../scss/modules/_components.scss */
.addNewTaskForm select:active option:active, .addNewTaskForm select:active option:hover, .addNewTaskForm select:hover option:active, .addNewTaskForm select:hover option:hover {
  outline: none !important;
  box-shadow: none;
}
/* line 117, ../scss/modules/_components.scss */
.addNewTaskForm select {
  margin: -1.6px !important;
  border-radius: 0px !important;
  height: 50px !important;
  line-height: 50px !important;
  width: 200px !important;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  text-align: left;
  padding-left: 10px;
  color: #bbbbbb;
}
/* line 132, ../scss/modules/_components.scss */
.addNewTaskForm select #selectName {
  color: #cfcfcf;
}
/* line 136, ../scss/modules/_components.scss */
.addNewTaskForm select option {
  color: #888888;
}
/* line 140, ../scss/modules/_components.scss */
.addNewTaskForm select #low {
  color: #5cb85c !important;
}
/* line 144, ../scss/modules/_components.scss */
.addNewTaskForm select #moderate {
  color: #f0ad4e !important;
}
/* line 148, ../scss/modules/_components.scss */
.addNewTaskForm select #high {
  color: #d9534f !important;
}
/* line 171, ../scss/modules/_components.scss */
.addNewTaskForm .addNew {
  width: 50px !important;
}
/* line 175, ../scss/modules/_components.scss */
.addNewTaskForm input:focus {
  outline: none !important;
}

/* line 180, ../scss/modules/_components.scss */
.listDescription {
  margin: 50px auto;
}

/* line 184, ../scss/modules/_components.scss */
.listTasks {
  margin-bottom: 55px;
}

/* line 188, ../scss/modules/_components.scss */
.listComponent {
  margin: 10px auto;
}
/* line 190, ../scss/modules/_components.scss */
.listComponent p, .listComponent button {
  margin: -1.6px;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 0px;
}
/* line 198, ../scss/modules/_components.scss */
.listComponent button {
  margin-top: -12px;
}
/* line 202, ../scss/modules/_components.scss */
.listComponent p {
  width: 560px !important;
  line-height: 50px;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  text-align: left;
  padding-left: 10px;
  font-size: 120%;
  color: #909090;
}
/* line 216, ../scss/modules/_components.scss */
.listComponent .checkCircle {
  color: #cccccc;
  margin-top: 15px;
  margin-right: 10px;
}
/* line 222, ../scss/modules/_components.scss */
.listComponent .lowImportance {
  background-color: #CFEDF6;
  border: 1px solid #428bca;
  color: #428bca;
}
/* line 228, ../scss/modules/_components.scss */
.listComponent .moderateImportance {
  background-color: #FFE7D8;
  border: 1px solid #f0ad4e;
  color: #f0ad4e;
}
/* line 234, ../scss/modules/_components.scss */
.listComponent .highImportance {
  background-color: #F7C0C0;
  border: 1px solid #d9534f;
  color: #d9534f;
}

/* line 241, ../scss/modules/_components.scss */
.listHr {
  border: 0;
  height: 1px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}

/* line 248, ../scss/modules/_components.scss */
.taskAchieved .checkCircle {
  color: #5cb85c;
}
/* line 252, ../scss/modules/_components.scss */
.taskAchieved p {
  background-color: #B2E3BE!important;
  border: 1px solid #5cb85c !important;
  color: #5cb85c !important;
}
