.footer-component {
  padding: 20px;
}

footer {
  height: $footer-height;
  margin-top: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  #subscribeBtn {
    color: $footer-color;
    background-color: $footer-text-color;
    font-weight: bold;
  }
}

.footer-component, footer {
  color: #7F8C8D;
  background-color: $footer-color;
}

.footer-component {
  ul {
    margin-left: -35px;
    li {
      display: inline-block;
      padding: 8px;
      img {
        width: 35px;
      }
    }
  }

  input[type="email"] {
    display: inline-block;
    height: 30px !important;
    width: 175px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
  }

  input[type="submit"] {
    display: inline-block;
    padding: 2px !important;
    width: 75px;
    height: 30px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
  }
}

.clear {
  clear: both;
}

.below-footer {
  margin-top: -5px;
}


@media screen and (min-width: 1039px)
 and (max-width: 1200px) {
  footer {
    height: 250px;
  }  
  .wrapper {
    padding-bottom: 250px;
  }
}

@media screen and (max-width: 1038.99999px) 
and (min-width: 992px) {
  footer {
    height: 280px;
  }  
  .wrapper {
    padding-bottom: 280px;
  }
}

@media screen and (max-width: 991.99999px) 
and (min-width: 768px) {
  footer {
    height: 550px;
  }  
  .wrapper {
    padding-bottom: 550px;
  }
}

@media screen and (max-width: 767.99999px) 
and (min-width: 442px) {
  footer {
    height: 570px;
  }  
  .wrapper {
    padding-bottom: 570px;
  }
}

@media screen and (max-width: 441.99999px) 
and (min-width: 345px) {
  footer {
    height: 600px;
  }  
  .wrapper {
    padding-bottom: 600px;
  }
}

@media screen and (max-width: 344.99999px) {
  footer {
    height: 650px;
  }  
  .wrapper {
    padding-bottom: 650px;
  }
}







// @media screen and (max-width: 992.99999px) {
//   footer {
//     height: $footer-height-mobile !important;
//   }
// }
