.footer-component {
  padding: 20px;
}

footer {
    height: 240px;
    margin-top: 20px;
}

.footer-component, footer {
  color: #7F8C8D;
  background-color: $footer-color;
}

.footer-component {
  ul {
    margin-left: -35px;
    li {
      display: inline-block;
      padding: 8px;
      img {
        width: 35px;
      }
    }
  }

  input[type="email"] {
    height: 30px !important;
    width: 175px !important;
  }

  input[type="submit"] {
    padding: 5px !important;
    width: 75px;
  }
}

.clear {
  clear: both;
}

.below-footer {
  margin-top: -5px;
}
