// .myLogo img {
//   margin-top: -31px;
//   /*margin-left: 215%;*/
// }


header {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5) !important;
  height: 70px !important;
  font-size: 20px;
  color:  #7F8C8D;
  background-color: $footer-color;
  ul {
    li {
      float: left;
      a {
        text-decoration: none !important;
        color:  #7F8C8D;
        line-height: 70px;
        padding: 24px 12px;
      }
      a:hover, 
      a:active,
      a:focus,
      a:active:focus,
      .active {
        color: $footer-color;
        background-color:  #7F8C8D;
      }
    }
  }
}

#logo {
  height: 50px;
  margin: 10px;
}

@media screen and (max-width: 550.999999px) 
and (min-width: 444pc) {
  header {
    font-size: 18px;
    ul {
      li {
        a {
          padding: 25px 5px;
        }
      }
    }
  }

  #logo {
    height: 40px;
    margin: 15px 10px;
  }
}

@media screen and (max-width: 443.999999px)
and (min-width: 400px) {
  header {
    font-size: 16px;
    ul {
      li {
        a {
          padding: 27px 5px;
        }
      }
    }
  }

  #logo {
    height: 35px;
    margin: 17.5px 10px;
  }
}


@media screen and (max-width: 399.999999px) 
and (min-width:365px){
  header {
    font-size: 15px;
    ul {
      li {
        a {
          padding: 27px 5px;
        }
      }
    }
  }

  #logo {
    height: 30px;
    margin: 20px 10px;
  }
}

@media screen and (max-width: 364.999999px) {
  header {
    font-size: 12px;
    ul {
      li {
        a {
          padding: 28px 6px;
        }
      }
    }
  }

  #logo {
    height: 25px;
    margin: 21px 4px;
  }
}