html, body {
  height: 100%;
}

body {
  font-family: $default-font !important;
  min-width: 300px;
  
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: $footer-height;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

.box, .listSquare {
  width: 150px;
  height: 150px;
  margin: 50px auto;
}

.box button {
  position: relative;
}

.effect2 {
  position: relative;
}

.effect2:before, .effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.yourLists {
  margin: 60px auto;
  text-align: center;
}


hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.listObject {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.listSquare {
  margin-bottom: 15px;
}



#signupForm, #loginForm {
  margin-bottom: 3vh;
}

.clear {
  clear: both;
}

.terms {
  width: 70%;
  margin: 0 auto;
  h1, h2, h3, h4, h5, h6 {
    margin: 15px 0px;
  }
  p, h4 {
    text-align: justify;
  }
  h4 {
    text-decoration: underline;
  }

  ul {
    li {
      margin-left: 50px;
      text-align: justify;
    }
  }
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale
}

.settings {
  h1 {
    margin: 30px;
  }
  margin: 0 auto;
  width: 30%;  
  input, label {
    display: block !important;
    margin: 20px 0px 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100% !important;
    height: 45px !important;
  }
  input[type="submit"] {
    margin: 30px auto;
  }

}

@media screen and (max-width: 1220px)
and (min-width: 910px) {
  .settings {
    width: 40%;  
  }
}

@media screen and (max-width: 999.9999px)
and (min-width: 730px) {
  .settings {
    width: 50%;  
  }
}


@media screen and (max-width: 729.9999px)
and (min-width: 610px) {
  .settings {
    width: 60%;  
  }
}


@media screen and (max-width: 609.9999px)
and (min-width: 520px) {
  .settings {
    width: 70%;  
  }
}

@media screen and (max-width: 519.9999px)
and (min-width: 460px) {
  .settings {
    width: 80%;  
  }
}

@media screen and (max-width: 459.9999px)
and (min-width: 160px) {
  .settings {
    width: 90%;  
  }
}



