$default-font: 'Raleway', sans-serif;
$heading-font: 'Playfair Display', serif;
$placeholder-color: #bbbbbb;
$input-color: #333333;
$footer-color: #191919;
$footer-text-color: #7F8C8D;
$lists-color: #f1f1f1;
$success-color: #5cb85c;
$danger-color: 	#d9534f;
$primary-color: #428bca;
$moderate-color: #f0ad4e;
$task-text-color: #777777;
$footer-height: 240px;
$footer-height-mobile: 650px;