//Index page button class
.myBtn {
  width: 200px;
  background-color: black;
  color: white;
}

//Index page Larn More button
#learnMore {
  padding: 20px !important;
  margin-top: 550px;
}

//Index page buttons actions
.myBtn:hover,
.myBtn:active,
.myBtn:focus,
.myBtn:active:focus {
  outline: none;
  transform: scale(0.97,0.97);
  background-color: black;
}

//Input buttons styles
input[type="submit"],
input[type="button"] {
  width: 150px;
  border: none !important;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

//Form links styles
.redirects {
  text-decoration: underline;
  font-size: 110%;
}

.newListBtn {
  width: 150px;
  height: 150px;
  border: none;
  i {
    margin-top: 30px;
  }
  font-size: 130%;
  background-color: $lists-color;
  border: 0.01px solid #eeeeee;
}

.newListBtn:active,
.newListBtn:focus,
.newListBtn:active:focus {
  transform: scale(0.97,0.97);
  border: 0.01px solid #e1e1e1;
}

.newListBtn:active,
.newListBtn:focus,
.newListBtn:active:focus,
.listSquare:active,
.listSquare:focus,
.listSquare:active:focus {
  outline: none;
}

.listSquare {
  width: 150px;
  height: 150px;
  background-color: $lists-color;
  border: 0.01px solid #eeeeee;
  
  button {
    border: none;
    background-color: transparent;
    padding: 10px;
  }

  .listName { 
    line-height: 65px;
    height: 65px;
    font-size: 120%;
  }
}

.listSquare:active,
.listSquare:focus,
.listSquare:active:focus {
  border: 0.1px solid #e1e1e1;
}

.deleteBtn:hover,
.deleteBtn:active,
.deleteBtn:focus,
.deleteBtn:active:focus {
  color: $danger-color;
  transform: scale(1.1,1.1);
  outline: none;
}

.checkBtn:hover,
.checkBtn:active,
.checkBtn:focus,
.checkBtn:active:focus {
  outline: none;
}

.checkBtn:hover {
  color: $success-color;
  transform: scale(1.1,1.1);
}

.checked {
  border: 3px solid #5cb85c;
  border-radius: 5px;
  .checkBtn {
    color: #5cb85c;
    transform: scale(1.1,1.1);
  }
}

.checked:active,
.checked:focus,
.checked:active:focus {
  border: 2px solid $success-color;
}

.editBtn:hover,
.editBtn:active,
.editBtn:focus,
.editBtn:active:focus {
  outline: none;
}

.editBtn:hover {
  color: $primary-color;
  transform: scale(1.1,1.1);
}

.listBtns button {
  width: 150px;
  height: 40px;
}
