//Index page button class
.myBtn {
  width: 200px;
  background-color: $footer-color;
  color: $footer-text-color;
}

//Index page Larn More button
#learnMore {
  padding: 20px !important;
  margin-top: 70vh;
}


@media screen and (max-height: 600.9999px) {
  #learnMore {
    margin-top: 40vh;
  }
}

@media screen and (min-height: 601px) and (max-height: 800px){
  #learnMore {
    margin-top: 50vh;
  }
}

@media screen
and (max-width: 992.9999px)
and (orientation: landscape) {
  #learnMore {
    margin-top: 30vh;
  }
}

@media screen and (min-width: 993px)
and (max-width: 1200px)
and (orientation: landscape) {
  #learnMore {
    margin-top: 50vh;
  }
}

//Index page buttons actions
.myBtn:hover,
.myBtn:active,
.myBtn:focus,
.myBtn:active:focus {
  outline: none !important;
  transform: scale(0.97,0.97);
  background-color: $footer-color;
  color: $footer-text-color;
}

//Input buttons styles
input[type="submit"],
input[type="button"] {
  width: 150px;
  border: none !important;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

//Form links styles
.redirects {
  text-decoration: underline;
  font-size: 110%;
}

.newListBtn {
  width: 150px;
  height: 150px;
  border: none;
  i {
    margin-top: 30px;
  }
  font-size: 130%;
  background-color: $lists-color;
  border: 0.01px solid #eeeeee;
}

.newListBtn:active,
.newListBtn:focus,
.newListBtn:active:focus {
  transform: scale(0.97,0.97);
  border: 0.01px solid #e1e1e1;
}

.newListBtn:active,
.newListBtn:focus,
.newListBtn:active:focus,
.listSquare:active,
.listSquare:focus,
.listSquare:active:focus {
  outline: none;
}

.listSquare {
  width: 150px;
  height: 150px;
  background-color: $lists-color;
  border: 0.01px solid #eeeeee;
  
  button {
    border: none;
    background-color: transparent;
    padding: 10px;
  }

  .listName { 
    line-height: 65px;
    height: 65px;
    font-size: 120%;
  }
}

.listSquare:active,
.listSquare:focus,
.listSquare:active:focus {
  border: 0.1px solid #e1e1e1;
}

.deleteBtn:hover,
.deleteBtn:active,
.deleteBtn:focus,
.deleteBtn:active:focus {
  color: $danger-color;
  transform: scale(1.1,1.1);
  outline: none;
}

.checkBtn:hover,
.checkBtn:active,
.checkBtn:focus,
.checkBtn:active:focus {
  outline: none;
}

.checkBtn:hover {
  color: $success-color;
  transform: scale(1.1,1.1);
}

.checked {
  border: 3px solid #5cb85c;
  border-radius: 5px;
  .checkBtn {
    color: #5cb85c;
    transform: scale(1.1,1.1);
  }
}

.checked:active,
.checked:focus,
.checked:active:focus {
  border: 2px solid $success-color;
}

.editBtn:hover,
.editBtn:active,
.editBtn:focus,
.editBtn:active:focus {
  outline: none;
}

.editBtn:hover {
  color: $primary-color;
  transform: scale(1.1,1.1);
}

@media screen and (max-width: 991.99999px) {
  .listObject {
    font-size: 120%;
    .listSquare {
      button {
        i {
          font-size: 140%
        }
      }
    }
  }
}

.listBtns {
  margin: 40px auto !important;
  margin-bottom: 120px !important;
  button, a {
    width: 120px;
    height: 40px;
    line-height: 27px;
  }
  .backBtn {
    background-color: $footer-color;
    color: $footer-text-color;
  }
}

.editListBtn {
  background-color: transparent;
  display: none;
}

.editListBtn:hover,
.editListBtn:active,
.editListBtn:focus,
.editListBtn:active:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

h2:hover {
  .editListBtn {
    display: initial;
  }
}