//jumbotron image height
html, body, .jumbotron {
  min-height: 95%;
  height: 95%;
}

//Index page jumbotron
.jumbotron {
  background-image: url('../img/5.jpg') !important;
  background-size: 100%;
  color: white;
  text-shadow: 2px 2px black;
}

//Form inputs styles
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 350px !important;
  height: 40px !important;
  margin: 5px;
  // background-color: $input-color !important;
  // color: #f2f2f2;
}


//Placeholders styles
::-webkit-input-placeholder { 
    color: $placeholder-color !important;
}
:-moz-placeholder {
  color: $placeholder-color;
} 
:-ms-input-placeholder {
  color: $placeholder-color;
}
::-moz-placeholder {
  color: $placeholder-color;
}

// input[type="text"]:active,
// input[type="email"]:active,
// input[type="password"]:active,
// input[type="date"]:active,
// input[type="text"]:focus,
// input[type="email"]:focus,
// input[type="password"]:focus,
// input[type="date"]:focus {
//   background-color: $input-color !important; 
// }

//Add new list button div

.modal-dialog {
  width: 500px !important;
  margin-top: 10% !important;
}

.modal-sm {
  width: 350px !important;
  font-size: 120%;
  margin-top: 15% !important;
}

.modal-body input[type="text"],
.modal-body input[type="date"] {
  width: 90% !important;
}

.modal-body label {
  margin-top: 10px !important;
}

