//jumbotron image height
.jumbotron {
  height: 93vh;
}

// @media screen and (max-width: 992px) {
//   .jumbotron {
//     height: 93vh;
//   }
// }

//Index page jumbotron
.jumbotron {
  background-image: url('../img/4.jpg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: -0.7vh;
  margin-bottom: 0px;
}

//Form inputs styles
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 350px !important;
  height: 40px !important;
  margin: 5px;
  display: inline-block;
  // background-color: $input-color !important;
  // color: #f2f2f2;
}

.alert {
  width: 90% !important;
  margin: 0 auto;
}

@media screen and (max-width: 390px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 270px !important;
  }
}


//Placeholders styles
::-webkit-input-placeholder { 
    color: $placeholder-color !important;
}
:-moz-placeholder {
  color: $placeholder-color;
} 
:-ms-input-placeholder {
  color: $placeholder-color;
}
::-moz-placeholder {
  color: $placeholder-color;
}

// input[type="text"]:active,
// input[type="email"]:active,
// input[type="password"]:active,
// input[type="date"]:active,
// input[type="text"]:focus,
// input[type="email"]:focus,
// input[type="password"]:focus,
// input[type="date"]:focus {
//   background-color: $input-color !important; 
// }

//Add new list button div

.modal-dialog {
  width: 500px !important;
  margin-top: 10% !important;
  margin: 0 auto;
}

.modal-sm {
  width: 350px !important;
  font-size: 120%;
  margin-top: 15% !important;
  margin: 0 auto;
}

.modal-body input[type="text"],
.modal-body input[type="date"] {
  width: 90% !important;
  border-radius: 0px !important;
  height: 50px !important;
}

.modal-body label {
  margin-top: 10px !important;
}

@media screen and (max-width:500px)
and (min-width: 391px) {
  .modal-dialog {
    width: 380px !important;
  }

  .modal-sm {
    margin-top: 20% !important;
  }
  
  .modal-body input[type="text"],
  .modal-body input[type="date"] {
    width: 85% !important;
  }
}

@media screen and (max-width: 390.99999px) {
  .modal-dialog {
    margin: 0 auto;
    width: 290px !important;
    margin-top: 10% !important;
  }

  .modal-sm {
    margin: 0 auto;
    width: 290px !important;
    margin-top: 20% !important;
  }

  .modal-body input[type="text"],
  .modal-body input[type="date"] {
    width: 85% !important;
  }
}

.listWrapper {
  width: 60%;
  margin: 10px auto;
  margin-bottom: 150px;
  h2 {
    margin: 20px;
    margin-bottom: 10px;
  }

  h4 {
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  // h3 {
  //   margin: 20px;
  //   margin-top: 27px;
  // }
}

.addNewTaskForm {
  margin: 50px auto;
  margin-bottom: 65px !important;
  input, button {
    margin: -1.6px !important;
    margin-top: -8px !important;
    border-radius: 0px !important;
    height: 50px !important;
    width: 400px !important;
    display: inline-block;
  }

  select:active, select:hover {
    outline: none !important;
    box-shadow: none;
    option:active, option:hover {
      outline: none !important;
      box-shadow: none;
    }
  }

  select {
    display: inline-block;
    margin-left: -3px !important;
    margin-right: -2px !important;
    box-sizing: border-box;
    padding-top: 5px !important;

    border-radius: 0px !important;
    height: 50px !important;
    line-height: 50px !important;
    width: 200px !important;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    text-align: left;
    padding-left: 10px;
    color: #bbbbbb;

    #selectName {
      color: #cfcfcf;
    }

    option {
      color: #888888;
    }

    #low {
      color: $primary-color !important;
    }

    #moderate {
      color: #f0ad4e !important;
    }

    #high {
      color: $danger-color !important;
    }

    // #low:hover, #low:active {
    // outline-color: $success-color !important;
    // opacity: 0.5;
    // color: white !important;
    // }

    // #moderate:hover {
    //   outline-color: #f0ad4e !important;
    //   opacity: 0.5;
    //   color: white;
    // }

    // #high:hover {
    //   outline-color: $danger-color !important;
    //   opacity: 0.5;
    //   color: white;
    // }
  }

  .addNew {
    width: 50px !important;
  }

  input:focus {
    outline: none !important;
  }
}

@media screen and (max-width: 768.99999px) 
and (min-width: 400px) {
  .listWrapper {
    width: 90%;
    margin-bottom: 80px;
  }
  .addNewTaskForm {
    margin-bottom: 30px !important;
    input, button {
      width: 200px !important;
    }
    button {
      margin-top: -5px !important;
    }
    select {
      padding-top: 0px !important;
      width: 110px !important;
    }
    .addNew {
      width: 50px !important;
    }
  }
}


@media screen and (max-width: 399.99999px)
and (min-width: 350px) {
  .listWrapper {
    width: 90%;
    margin-bottom: 80px;
    h2 {
      margin: 5px;
      margin-bottom: 5px;
      font-size: 200%;
    }

    h4 {
      margin: 5px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    // h3 {
    //   margin: 5px;
    //   margin-top: 15px;
    // }
  }
  .addNewTaskForm {
    input, button {
      width: 250px !important;
    }

    select {
      width: 250px !important;
      margin-top: 1px !important;
      margin-left: -2px !important;
    }

    .addNew {
      margin-top: 0px !important;
      width: 250px !important;
    }
  }
}

@media screen and (max-width: 349.99999px) {
  .listWrapper {
    width: 90%;
    margin-bottom: 80px;
    h2 {
      clear: both;
      margin: 5px;
      margin-bottom: 5px;
    }

    h4 {
      clear: both;
      margin: 5px;
      margin-top: 0px;
      margin-bottom: 0px;
      float: left !important;
    }

    .rightHead {
      float: left !important;
    }
  }
  .addNewTaskForm {
    input, button {
      width: 250px !important;
    }

    select {
      width: 250px !important;
      margin-top: 1px !important;
      margin-left: -2px !important;
    }

    .addNew {
      margin-top: 0px !important;
      width: 250px !important;
    }
  }
}



.listDescription {
  margin: 50px auto;
}

.listTasks {
  margin-bottom: 55px;
}

.listComponent {
  margin: 10px auto;
  p, button {
    margin: -2px;
    display: inline-block;
    height: 50px;
    width: 50px; 
    border-radius: 0px;
  }

  button {
    margin-top: -40px;
  }

  .checkItemBtn:hover,
  .checkItemBtn:active, 
  .checkItemBtn:focus,
  .checkItemBtn:active:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  
  .btnUnchecked,
  .btnUnchecked:active, {
    background-color: #ddd;
    color: white;
  }

  p {
    margin-top: 10px !important;
    margin-left: -2px !important;
    width: 70% !important;
    line-height: 50px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    text-align: left;
    padding-left: 10px;
    font-size: 120%;
    color: #909090;
  }

  


  .lowImportance {
    background-color: #CFEDF6;
    border: 1px solid $primary-color;
    color: $primary-color;
  } 

  .moderateImportance {
    background-color: #FFE7D8;
    border: 1px solid $moderate-color;
    color: $moderate-color;
  }

  .highImportance {
    background-color:	#F7C0C0;
    border: 1px solid $danger-color;
    color: $danger-color;
  }
}

@media screen and (max-width: 539.9999px)
and (min-width: 463px) {
  .listComponent {
    margin: 5px auto;

    p {
      width: 65% !important;      
      padding-left: 5px;
      font-size: 115%;
    }
    
  }
}

@media screen and (max-width: 462.9999px)
and (min-width: 405px) {
  .listTasks {
    margin-bottom: 55px;
  }

  .listComponent {
    margin: 5px auto;

    p {
      width: 60% !important;      
      padding-left: 5px;
      font-size: 110%;
    }
  }
}

@media screen and (max-width: 404.9999px)
and (min-width: 360px) {
  .listTasks {
    margin-bottom: 55px;
  }

  .listComponent {
    margin: 5px auto;

    p {
      width: 55% !important;      
      padding-left: 5px;
      font-size: 105%;
    }
  }
}

@media screen and (max-width: 359.9999px)
and (min-width: 324px) {
  .listTasks {
    margin-bottom: 55px;
  }

  .listComponent {
    margin: 5px auto;

    p {
      width: 50% !important;      
      padding-left: 5px;
      font-size: 100%;
    }
  }
}

@media screen and (max-width: 359.9999px) {
  .listTasks {
    margin-bottom: 55px;
  }

  .listComponent {
    margin: 5px auto;

    p {
      width: 45% !important;      
      padding-left: 5px;
      font-size: 95%;
    }
  }
}

.listHr {
  border: 0;
  height: 1px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}

.taskAchieved {
  transition: 5s;
  button.checkItemBtn {
    background-color: $success-color;
    color: white;
    border: 1px solid $success-color;
  }

  p {
    background-color: #B2E3BE!important;
    border: 1px solid $success-color !important;
    color: $success-color !important;
  }
}

.defaultMsg {
  margin-top: 0px !important;
  margin-bottom: -16px  !important;
}

.noListMsg {
  margin: 105.5px auto !important;
  color: #888;
}


.changeItemModal {
  .modal-body {
    .addNewTaskForm {
      margin: 20px !important;
      label {
        margin-right: 10px;
      }
      input, select {
        width: 92% !important;
        display: inline-block !important;
        margin: 0 auto !important;
      }
    }
  }
}

@media screen and (max-width: 500.99999px) {
  .changeItemModal {
    .modal-body {
      .addNewTaskForm {
        input, select {
          width: 85% !important;
        }
      }
    }
  }
}

.modal-header {
  color: $footer-text-color;
  border-radius: 0 !important;
  background-color: $footer-color !important;
  h4 {
    font-size: 1.5em;
  }
}

button.close {
  color: white!important;
}

button.dismissBtn {
  color: $footer-text-color;
 // font-weight: bold !important;
  background-color: $footer-color !important;
}

button.dismissBtn:hover {
  color: #777;
  
  background-color: black !important;
}

.modal-content,
.btn, button,
.progress {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}

.leftHead {
  h2 {
    i {
      font-size: 1.7em;
      color: $primary-color;
    }
  }
}

.listComponent p{
  word-wrap: break-word; 
  overflow-y: scroll;
}

